page-feed {
    #dots {
        height: 1.5em;
        font-size: .9em;
        margin: 0;
    }
    #loginRow {
        margin: 0 auto;
    }
    #loginBtn {
        margin: 3em 0 0 0;
        justify-content: center;
    }
}
