<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="kikkRed">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{ p.icon }}" item-start></ion-icon>
        {{ p.title }}
      </button>
      <button menuClose ion-item detail-none (click)="contactUs('https://kikkerland.com/pages/contact-us')">
        <ion-icon name="chatbubbles-outline" item-start></ion-icon>
        Contact Us
      </button>
      <button menuClose ion-item detail-none (click)="logout()" *ngIf="signoutBtn">
        <ion-icon name="log-out-outline" item-start></ion-icon>
        Sign Out
      </button>
      <!-- <ion-item *ngIf="signoutBtn"></ion-item> -->
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>